absl-py==0.1.13
applescript==2019.4.13
appnope==0.1.0
apyori==1.1.1
asn1crypto==0.24.0
astor==0.6.2
astroid==2.1.0
backcall==0.1.0
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
backports.weakref==1.0.post1
basemap==1.0.7
beautifulsoup4==4.7.1
bleach==1.5.0
bokeh==1.0.4
boltons==18.0.1
branca==0.2.0
camelot-py==0.2.3
catboost==0.11.0
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
chroma-py==0.1.0.dev1
click==6.7
click-plugins==1.0.3
cligj==0.4.0
colorlover==0.2.1
colour==0.1.5
configparser==3.5.0
cryptography==2.2.2
cufflinks==0.13.0
cycler==0.10.0
Cython==0.28.3
dash==0.38.0rc1
dash-colorscales==0.0.4
dash-core-components==0.43.0
dash-html-components==0.13.5
dash-renderer==0.19.0rc1
dash-table==3.3.0
dbfread==2.0.7
decorator==4.3.0
descartes==1.1.0
detect==2019.4.13
Elixir==0.7.1
entrypoints==0.2.3
enum34==1.1.6
et-xmlfile==1.0.1
ez-setup==0.9
Fiona==1.7.12
Flask==1.0.2
Flask-Cache==0.13.1
Flask-Caching==1.7.1
Flask-Compress==1.4.0
folium==0.5.0
funcsigs==1.0.2
gast==0.2.0
GDAL==2.3.2
geojson==2.3.0
geopandas==0.4.0
graphviz==0.8.2
grpcio==1.10.0
h5py==2.7.1
html5lib==0.9999999
httplib2==0.11.3
idna==2.6
imutils==0.4.6
ipaddress==1.0.19
ipykernel==4.8.2
ipython==5.5.0
ipython-genutils==0.2.0
ipywidgets==7.2.0
isort==4.3.4
itsdangerous==1.1.0
jdcal==1.4
jedi==0.12.0
Jinja2==2.10
jsonschema==2.6.0
jupyter-client==5.2.3
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.4.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterlab==0.35.4
jupyterlab-launcher==0.10.5
jupyterlab-server==0.2.0
jupyterthemes==0.20.0
Keras==2.1.5
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
lesscpy==0.13.0
lml==0.0.4
lxml==4.2.1
mapboxgl==0.6.0
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==3.0.1
mccabe==0.6.1
mistune==0.8.3
mobilechelonian==0.5
mock==2.0.0
munch==2.3.2
nbconvert==5.3.1
nbformat==4.4.0
nbstripout==0.3.3
networkx==2.2
notebook==6.4.10
numpy==1.15.3
odfpy==1.3.5
ogrtools==0.7.3
only==2019.4.13
opencv-python==3.4.3.18
openpyxl==2.5.9
ordereddict==1.1
osmnx==0.9
OWSLib==0.17.0
packaging==19.0
pandas==0.23.4
pandas-datareader==0.6.0
pandas-profiling==1.4.1
pandocfilters==1.4.2
pants==1.0.1
parso==0.2.1
pathlib==1.0.1
pathlib2==2.3.0
patsy==0.5.0
pbr==4.0.4
pdfminer.six==20170720
pexpect==4.4.0
pickleshare==0.7.4
Pillow==5.0.0
pipenv==11.9.0
plotly==3.4.2
ply==3.11
progressbar2==3.36.0
prometheus-client==0.6.0
prompt-toolkit==1.0.15
protobuf==3.5.2.post1
psutil==5.5.0
psycopg2==2.7.5
ptyprocess==0.5.2
public==2019.4.13
PuLP==1.6.8
pycparser==2.18
pycryptodome==3.6.6
pyexcel-io==0.5.9.1
pyexcel-ods==0.5.3
pygame==1.9.5
Pygments==2.2.0
pylint==2.2.2
pyOpenSSL==17.5.0
pyparsing==2.2.0
PyPDF2==1.26.0
pyproj==1.9.5.1
PySAL==1.14.3
pyshp==1.2.12
pystan==2.18.0.0
python-dateutil==2.7.2
python-utils==2.3.0
pytz==2018.4
PyWavelets==0.5.2
PyYAML==3.13
pyzmq==17.0.0
qgrid==1.0.5
reportlab==3.5.6
requests==2.21.0
requests-file==1.4.3
requests-ftp==0.3.1
retrying==1.3.3
rpy2==2.9.4
Rtree==0.8.3
runcmd==2019.4.13
scandir==1.7
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.0.1
seaborn==0.8.1
Send2Trash==1.5.0
Shapely==1.6.4.post2
simanneal==0.4.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
sklearn-hierarchical-classification==1.0.0
soupsieve==1.7.3
spotipy==2.4.4
SQLAlchemy==0.7.10
sqlalchemy-migrate==0.11.0
sqlparse==0.2.4
statsmodels==0.8.0
stevedore==1.28.0
style==1.1.0
temp==2019.4.13
Tempita==0.5.2
tensorboard==1.7.0
tensorflow==1.7.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
tornado==5.0.1
tqdm==4.19.9
traitlets==4.3.2
typed-ast==1.1.0
update==0.0.1
urllib3==1.22
virtualenv==16.0.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
wget==3.2
widgetsnbextension==3.2.0
wrapt==1.10.11
xgboost==0.71
xhtml2pdf==0.2.2
xlrd==1.1.0
xlwt==0.7.2
